<?xml version="1.0" encoding="utf-8"?>
<!--服务设置-->
<Setting>
  <!--全局调试-->
  <Debug>false</Debug>
  <!--服务名-->
  <ServiceName />
  <!--显示名-->
  <DisplayName />
  <!--服务描述-->
  <Description />
  <!--工作线程间隔，单位：秒。不同工作线程的时间间隔用逗号或分号隔开。可以通过设置任务的时间间隔小于0来关闭指定任务-->
  <Intervals>3</Intervals>
  <!--最大活动时间，单位：秒。超过最大活动时间都还没有响应的线程将会被重启，防止线程执行时间过长。默认0秒，表示无限-->
  <MaxActive>0</MaxActive>
  <!--最大占用内存，单位： M。超过最大占用时，整个服务进程将会重启，以释放资源。默认0秒，表示无限-->
  <MaxMemory>0</MaxMemory>
  <!--最大总线程数，单位：个。超过最大占用时，整个服务进程将会重启，以释放资源。默认0个，表示无限-->
  <MaxThread>0</MaxThread>
  <!--自动重启时间，单位：分。到达自动重启时间时，整个服务进程将会重启，以释放资源。默认0分，表示无限-->
  <AutoRestart>0</AutoRestart>
  <!--看门狗，保护其它服务，每分钟检查一次。多个服务名逗号分隔-->
  <WatchDog />
</Setting>